body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;margin:0}code{font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace}.App{margin-left:120px;margin-top:50px}.title{margin-left:60px;margin-top:40px}.table-contents{border-collapse:collapse;gap:20px;text-align:left}.table-contents td,.table-contents th{border:1px solid#ddd;padding:5px 10px;text-align:left}
/*# sourceMappingURL=main.b305b492.css.map*/