.App {
  margin-left:120px;
  margin-top:50px
}

.title {
  margin-top:40px;
  margin-left:60px
}

.table-contents {
  text-align: left;
  gap: 20px;
  /* margin:100px; */
  /* border:1px solid; */
  border-collapse: collapse
}

.table-contents th, .table-contents td {
  text-align: left; /* Align content to the left */
  border: 1px solid#ddd; /* Add borders for better visualization */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

}